# StatefulSet template for DRF Backend of PanDA UI

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "backend.fullname" . }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  serviceName: {{ include "backend.fullname" . }}
  selector:
    matchLabels:
      {{- include "backend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "backend.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "backend.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          command: ["/bin/sh", "-c"]
          args:
            - cp {{ .Values.paths.sandbox }}/* {{ .Values.paths.config }}/;

              {{- if .Values.autoStart }}
              {{- if and (eq .Values.db.deployment "kubernetes") (eq .Values.db.vendor "postgresql") }}
              until /usr/pgsql-*/bin/pg_isready -h ${PANDA_DB_HOST} -p ${PANDA_DB_PORT}; do echo waiting for database; sleep 2; done;
              {{- end }}
              start.sh all
              {{- else }}
              sleep infinity & wait
              {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.containerPort }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
              - name: {{ include "backend.fullname" . }}-logs
                mountPath: {{ .Values.paths.logs }}
              - name: {{ include "backend.fullname" . }}-sandbox
                mountPath: {{ .Values.paths.sandbox }}
              - name: {{ include "backend.fullname" . }}-certs
                mountPath: {{ .Values.paths.certs }}
          envFrom:
            - secretRef:
                name: {{ .Values.global.secret }}-ui-envs
          env:
            - name: PANDAUI_FRONTEND_BASE_URL
              value: {{ printf "https://%s" .Values.global.hostOverwrite | quote }}
            - name: PANDAUI_ALLOWED_HOSTS
              value: {{ printf "%s," .Values.global.hostOverwrite | quote }}
            - name: CORS_ALLOWED_ORIGINS
              value: {{ printf "https://%s" .Values.global.hostOverwrite | quote }}
            - name: PANDAUI_VO
              value: {{ $.Values.global.vo }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: {{ include "backend.fullname" . }}-sandbox
          configMap:
              name: {{ include "backend.fullname" . }}-sandbox
        - name: {{ include "backend.fullname" . }}-certs
          secret:
              secretName: {{ .Values.global.secret }}-ui-certs
  {{- if .Values.persistentVolume.create }}
        - name: {{ include "backend.fullname" . }}-logs
          persistentVolumeClaim:
            claimName: {{ include "backend.fullname" . }}
  {{- else }}
  volumeClaimTemplates:
    - metadata:
        name: {{ include "backend.fullname" . }}-logs
      spec:
        storageClassName: {{ .Values.persistentVolume.class }}
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: {{ .Values.persistentVolume.size }}
  {{- end }}

