image:
  repository: "ghcr.io/pandawms/panda-ui-frontend"
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  containerPort: 80

resources: {}

podAnnotations: {}
podSecurityContext: {}
securityContext: {}
imagePullSecrets: []